/* .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 82px;
    left: 10px;
    bottom: 20px;
    background-color: rgb(221, 235, 23);
    padding-top: 20px;
  } 
   */
  *{
    list-style: none;
    text-decoration: none;
    margin: 80px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
.side-bar{
    background-color: aqua;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    font-size: 10px;
}